#example2{
 
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;

}
.datepicker-days{font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;color: #000000!important;}
.date{background: none !important;color: #000000!important; }
.multiselect-search{height:34px !important;}
nav ul {
   overflow: visible !important;
  overflow-y: visible !important;
  height: auto !important;
}
input[type="textarea"]{height:110px !important;}
.multiselect-container li{padding:3px !important; font-size:13px !important;}
 

.filter th.secondChild{display:none !important;}
.watable-col-action_edit_delete{width:83px !important;}



.sf-sub-indicator{float: right;}
.formtable>tbody>tr>td, .formtable>tbody>tr>th, .formtable>tfoot>tr>td, .formtable>tfoot>tr>th, .formtable>thead>tr>td, .formtable>thead>tr>th {
  border-top: none !important;}
.main_content_area .date {  margin-right: 0px !important; padding: 0px !important; }

.span9 {
  width: 750px !important;
}
.checkbox input[type="checkbox"]{  margin-left: -17px !important;}
/*.span6 {
  width: 555px !important; 
}*/
.cleditorMain{border: #000000 1px solid !important;height:auto !important;}

/*menu-item-has-children*/
/*menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-163*/
.page_head .menu .sub-menu .current-menu-parent{background: #666666 !important ;}
.filterstats{height:90px;text-align: center; }
 
.filterstats span{font-size: 26px;color: darkgray;}
.white, .white h2, .white em, .white h4 {color:black !important;}

.savereport_body{width:100%;}
.savereport_select{    
   margin-bottom: 30px;
   margin-top: 20px;
    width: 50%;
    float: left;
   }

.savereport_name{
    margin-bottom: 30px;
   margin-top: -5px;
    width: 50%;
    float: right;}
.filterstats,.savereport_body{
float: left !important;
}

.passwordTest {
	
}
.passwordTest input[type="password"]{
	width: 97.5%;
	height: 25px;
	margin-bottom: 5px;
	border: 1px solid #DDD;
	border-radius: 4px;
	line-height: 25px;
	padding-left: 5px;
	font-size: 25px;
	color: #829CBD;
}
#pass-info{
	width: 97.5%;
	height: 25px;
	border: 1px solid #DDD;
	border-radius: 4px;
	color: #829CBD;
	text-align: center;
	font: 12px/25px Arial, Helvetica, sans-serif;
}
#pass-info.weakpass{
	border: 1px solid #FF9191;
	background: #FFC7C7;
	color: #94546E;
	text-shadow: 1px 1px 1px #FFF;
}
#pass-info.stillweakpass {
	border: 1px solid #FBB;
	background: #FDD;
	color: #945870;
	text-shadow: 1px 1px 1px #FFF;
}
#pass-info.goodpass {
	border: 1px solid #C4EEC8;
	background: #E4FFE4;
	color: #51926E;
	text-shadow: 1px 1px 1px #FFF;
}
#pass-info.strongpass {
	border: 1px solid #6ED66E;
	background: #79F079;
	color: #348F34;
	text-shadow: 1px 1px 1px #FFF;
}
#pass-info.vrystrongpass {
	border: 1px solid #379137;
	background: #48B448;
	color: #CDFFCD;
	text-shadow: 1px 1px 1px #296429;
}


<!--Changes made by azhar-->

.hometable th{
    color: white;
    background-color: #088CCB !important;
	font-weight: normal !important;
}

.mytable th{
    color: white;
    background-color: #088CCB !important;
	font-weight: normal !important;
}

/*.table > thead > tr > th {
	padding: 5px  !important;
}*/

.mytab-content {
    padding: 15px;
   
}

.watable th{
	font-weight: normal !important;
}

.uploadFileid {
    width: 124px;
    height: 30px;
    padding-left: 5px;
}

#fileUpload{
	position: relative;
	margin-top: 5px;
	margin-left: 4px;
}
#fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

input[type="email"]{
	width:100% !important;
	height:34px !important; 
}

.select{
	width: 50% !important;
	padding: 4px 2px !important;
}




.duedate-bg{
	width: 140px !important;
}

#task-bg{
	width: 200px !important;
}

#spec-bg{
	width: 295px !important;
}

#action-bg{
	width: 240px !important;
}

#status-bg{
	width: 205px !important;
}

.selectclass{
	width: 65% !important;
}

tr.overdue td.duedate{
	background-color: rgb(253, 221, 227) !important;
}

.button-cancle{
	font-family: 'Oswald', Arial, Helvetica, sans-serif !important;
	color: #ffffff !important;
	margin-left: 40px !important;
	margin-top: 25px !important;
	padding: 10px 18px !important;
	line-height: 15px !important;
	font-size: 14px !important;
	text-transform: uppercase !important;
	font-weight: bold !important;
	border-radius: 2px !important;
}

@-moz-document url-prefix() { 
  .button-cancle {
   margin-top: -3px !important;
  }
  
   #fileUpload {
    margin-left: 4px !important;
}
}

.jconfirm-box-container-special{
    width: 80% !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
}

/* Reporting Style */

.watable.table {
/*width: auto;*/
	width: 100% !important;
}

#tab1table{
	width: 100% !important;
}

/* End Reporting Style */


.tasks-field-size {
    width: 500px !important;
}

#Srole{
	width: 100% !important;
	height: 35px !important;
}


.customeclasshide{
display: none !important;
}

.hidebutton{display:none;}

.widget {
     margin: 0 0 0px !important; 
}

#sitename a:hover{color:#0082c6 !important}
#sitename a:focus{color:#0082c6 !important}


/*Report custome style*/
.table { max-width: 100%; background-color: transparent; }
 th { text-align: left; }
.table { width: 100%; margin-bottom: 20px; }
.table > thead > tr > th,.table > tbody > tr > th,.table > tfoot > tr > th,.table > thead > tr > td,.table > tbody > tr > td,.table > tfoot > tr > td { padding: 8px; line-height: 1.42857; vertical-align: top; border-top: 1px solid rgb(221, 221, 221); }
.table > thead > tr > th { vertical-align: bottom; border-bottom: 2px solid rgb(221, 221, 221); }

/*.table > caption + thead > tr:first-child > th,.table > colgroup + thead > tr:first-child > th,.table > thead:first-child > tr:first-child > th,.table > caption + thead > tr:first-child > td,.table > colgroup + thead > tr:first-child > td,.table > thead:first-child > tr:first-child > td { border-top: 0px none; }*/

.table > tbody + tbody { border-top: 2px solid rgb(221, 221, 221); }
.table .table { background-color: #fff; }
.table-condensed > thead > tr > th,.table-condensed > tbody > tr > th,.table-condensed > tfoot > tr > th,.table-condensed > thead > tr > td,.table-condensed > tbody > tr > td134,.table-condensed > tfoot > tr > td1 { padding: 5px; }
.table-bordered1 { border: 1px solid rgb(221, 221, 221); }
.table-bordered > thead > tr > th18,.table-bordered > tbody > tr > th,.table-bordered > tfoot > tr > th,.table-bordered > thead > tr > td,.table-bordered > tbody > tr > td90,.table-bordered > tfoot > tr > td1 { border: 1px solid rgb(221, 221, 221); }
.table-bordered > thead > tr > th18,.table-bordered > thead > tr > td { border-bottom-width: 2px; }
/*.table-striped > tbody > tr:nth-child(2n+1) > td,.table-striped > tbody > tr:nth-child(2n+1) > th { background-color: #f9f9f9; }*/
table td[class*="col-"],table th[class*="col-"] { position: static; float: none; display: table-cell; }
label { display: inline-block; margin-bottom: 5px; font-weight: 700; }
input[type="search"] { box-sizing: border-box; }
input[type="radio"],input[type="checkbox"] { margin: 4px 0px 0px; line-height: normal; }
select[multiple],select[size] { height: auto; }
.form-control1 { display: block; width: 100%; height: 34px; padding: 6px 12px; font-size: 14px; line-height: 1.42857; color: #555; background-color: #fff; background-image: none; border: 1px solid rgb(204, 204, 204); border-radius: 4px; box-shadow: 0px }
input[type="search"] { }
.checkbox { display: block; min-height: 20px; margin-top: 10px; margin-bottom: 10px; padding-left: 20px; }
.checkbox input[type="checkbox"],.checkbox-inline input[type="checkbox"] { float: left; margin-left: -20px; }

input[type="checkbox"][disabled]{ height: 30px; padding: 5px 10px; font-size: 12px; line-height: 1.5; border-radius: 3px; }
.fade { opacity: 0; transition: opacity 0.15s linear 0s; }
.fade.in{ opacity: 1; }
.dropdown-menu5 { position: absolute; top: 100%; left: 0px; z-index: 1000; display: none; float: left; min-width: 160px; padding: 5px 0px; margin: 2px 0px 0px; list-style: outside none none; font-size: 14px; background-color: #fff; border: 1px solid;}
.dropdown-menu > li > a { display: block; padding: 3px 20px; clear: both; font-weight: 400; line-height: 1.42857; color: #333; white-space: nowrap; }

.dropdown-menu > .active > a,.dropdown-menu > .active > a:hover,.dropdown-menu > .active > a:focus { color: #000000; text-decoration: none; outline: 0px none; background-color: #428bca; }
.dropup .caret,.navbar-fixed-bottom .dropdown .caret { border-top: 0px none; border-bottom: 4px solid; content: ""; }
.dropup .dropdown-menu,.navbar-fixed-bottom .dropdown .dropdown-menu { top: auto; bottom: 100%; margin-bottom: 1px; }
.input-group { position: relative; display: table; border-collapse: separate; }
.input-group .form-control { position: relative; z-index: 2; float: left; width: 100%; margin-bottom: 0px; }
.input-group .form-control:not(:first-child):not(:last-child) { border-radius: 0px; }
.input-group-addon,.input-group-btn1,.input-group .form-control1 { display: table-cell; }
.input-group-addon,.input-group-btn1 { width: 1%; white-space: nowrap; vertical-align: middle; }
.input-group-addon { padding: 6px 12px; font-size: 14px; font-weight: 400; line-height: 1; color: #555; text-align: center; background-color: #eee; border: 1px solid rgb(204, 204, 204); border-radius: 4px; }
.input-group-addon:first-child,.input-group-addon:first-child { border-right: 0px none; }
.input-group-btn { position: relative; font-size: 0px; white-space: nowrap; }
.input-group-btn > .btn1 { position: relative; }
.input-group-btn:last-child > .btn,.input-group-btn:last-child > .btn-group { margin-left: -1px; }
.tab-content > .tab-pane { display: none; }
.tab-content > .active1 { display: block; }

.pagination { display: inline-block; padding-left: 0px; margin: 20px 0px; border-radius: 4px; }
.pagination > li { display: inline; }
.pagination > li > a,.pagination > li > span { position: relative; float: left; padding: 6px 12px; line-height: 1.42857; text-decoration: none; color: #428bca; background-color: #fff; border: 1px solid rgb(221, 221, 221); margin-left: -1px; }
.pagination > li:first-child > a,.pagination > li:first-child > span { margin-left: 0px; border-bottom-left-radius: 4px; border-top-left-radius: 4px; }
.pagination > li:last-child > a,.pagination > li:last-child > span { border-bottom-right-radius: 4px; border-top-right-radius: 4px; }
.pagination > li > a:hover,.pagination > li > span:hover,.pagination > li > a:focus,.pagination > li > span:focus { color: #2a6496; background-color: #eee; border-color: #ddd; }
.pagination > .active > a,.pagination > .active > span,.pagination > .active > a:hover,.pagination > .active > span:hover,.pagination > .active > a:focus,.pagination > .active > span:focus { z-index: 2; color: #000000; background-color: #428bca; border-color: #dedede; cursor: default; }
.pagination > .disabled > span,.pagination > .disabled > span:hover,.pagination > .disabled > span:focus,.pagination > .disabled > a,.pagination > .disabled > a:hover,.pagination > .disabled > a:focus { color: #000000; background-color: #fff; border-color: #ddd; cursor: not-allowed; }
.pull-left { float: left ! important; }
.media > .pull-left { margin-right: 10px; }
.pagination-lg > li > a,.pagination-lg > li > span { padding: 10px 16px; font-size: 18px; }
label { display: inline-block; margin-bottom: 5px; font-weight: 700; }
input[type="search"] { box-sizing: border-box; }
input[type="search"] { box-sizing: border-box; }
input[type="radio"],input[type="checkbox"] { margin: 4px 0px 0px; line-height: normal; }
.btn-group,.btn-group-vertical { position: relative; display: inline-block; vertical-align: middle; }
.btn-group > .btn,.btn-group-vertical > .btn { position: relative; float: left; }
.btn-toolbar { margin-left: -5px; }
.btn-toolbar .btn-group10,.btn-toolbar .input-group2 { float: left; }
.btn-toolbar > .btn,.btn-toolbar > .btn-group8,.btn-toolbar > .input-group { margin-left: 5px; }
.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) { border-radius: 0px; }
.btn-group > .btn:first-child { margin-left: 0px; }
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) { border-bottom-right-radius: 0px; border-top-right-radius: 0px; }
.btn-group > .btn:last-child:not(:first-child),.btn-group > .dropdown-toggle:not(:first-child) { border-bottom-left-radius: 0px; border-top-left-radius: 0px; }
.btn-group > .btn-group { float: left; }
.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn { border-radius: 0px; }
.btn-group > .btn-group:first-child > .btn:last-child,.btn-group > .btn-group:first-child > .dropdown-toggle { border-bottom-right-radius: 0px; border-top-right-radius: 0px; }
.btn-group > .btn-group:last-child > .btn:first-child2 { border-bottom-left-radius: 0px; border-top-left-radius: 0px; }
.btn .caret { margin-left: 0px; }
.btn-default12 { color: #333; background-color: #fff; border-color: #ccc; }
.sort th{
    background-color: #fff !important;
   
}
.sort{padding: 15px !important};
.input-group-addon,.input-group-btn,.input-group .form-control { display: table-cell; }
.input-group-addon:not(:first-child):not(:last-child),.input-group-btn:not(:first-child):not(:last-child),.input-group .form-control:not(:first-child):not(:last-child) { border-radius: 0px; }
.input-group-addon,.input-group-btn { width: 1%; white-space: nowrap; vertical-align: middle; }
.input-group-addon { padding: 6px 12px; font-size: 14px; font-weight: 400; line-height: 1; color: #555; text-align: center; background-color: #eee; border: 1px solid rgb(204, 204, 204); border-radius: 4px; }
.radio,.checkbox { display: block; min-height: 20px; margin-top: 10px; margin-bottom: 10px; padding-left: 20px; }
.checkbox input[type="checkbox"],.checkbox-inline input[type="checkbox"] { float: left; margin-left: -20px; }
input[type="checkbox"][disabled],.radio[disabled],.radio-inline[disabled],.checkbox[disabled],.checkbox-inline[disabled],fieldset[disabled] input[type="radio"],fieldset[disabled] input[type="checkbox"],fieldset[disabled] .radio,fieldset[disabled] .radio-inline,fieldset[disabled] .checkbox,fieldset[disabled] .checkbox-inline { cursor: not-allowed; }
.checkbox input[type="checkbox"]{visibility: visible;}
.table a {
     border-bottom: none !important; }
.faq-page-cats .faq-page-cat-icon img {
    height: 28px !important;
}
.faq-page-cats{
    
    
        padding: 14px 100px 0px !important;
}

.faq-page-cats .faq-page-cat {
    
    margin: 0 0 2px !important;
}
.faq-page-header-search{
    
    
        padding: 14px 30px 0px 30px !important;
}
.faq-page-cats .faq-page-cat-icon {
    margin: 0 0 8px !important;
}
.faq-page-cats .faq-page-cat-title {
   
    margin: 0 0 5px !important;
}
.reporticon {color: #9e9fa9 !important}
.indeterminate{display:none;}
.btn-group.bootstrap-select .dropdown-menu a:hover, .btn-group.bootstrap-select .dropdown-menu a:hover .font-icon {
   
    background-color: #c7dcef !important;
}
button[disabled], html input[disabled]{ cursor: no-drop !important;}
.watable input[type=text].filter {
    border: 1px solid #cccccc !important;
   
}
.mycustomwidth{min-width: 160px !important;}


.myfaq-bulk-email{
    
     padding: 14px 27px 0px !important;
    
}
.mycustomwidth{
    
    
    background-color: #7cb5ec !important;
    border-color: #5690c7 !important;
}
.mycustomwidth:hover{
   background-color: #7baad8 !important;
    border-color: #5690c7 !important;
}
.side-menu-list>li.mythemestyle .fa, .side-menu-list>li.mythemestyle .font-icon, .side-menu-list>li.mythemestyle .glyphicon {
    color: #F98A00;
}
.multiselect{  background-color: #7baad8 !important;
    border-color: #5690c7 !important;min-width: 160px !important;}
.multiselect:hover{  background-color: #7baad8 !important;
    border-color: #5690c7 !important;}

.mergefieldbutton{
    
    
    background-color: #7cb5ec !important;
    border-color: #5690c7 !important;
}
.mergefieldbutton:hover{
     background-color: #7baad8 !important;
    border-color: #5690c7 !important; 
}
body, button, html, input, select, textarea {
    color:#000000 !important;}
.side-menu-list .lbl {
  
    color: #000000 !important;

}
.side-menu .side-menu-title{
  
    color: #000000 !important;

}
.theme-picton-blue .site-header {
    background-color: #ffffff !important;
    border-bottom-color: #ededed !important;
}
.site-header .site-logo img {
   
    height: 66px !important;
  
    top: -15px !important;
}

.chart-statistic-box .chart-container .chart-container-title{font-size: 14px !important;font-style: italic !important;top: 17px !important;color: lightblue !important;}
li.active a, li.active a:hover {
    background: #eff6fc !important ;
   
}
.statistic-box.purple {
    background-color: #C1D8FA  !important;
    background-image:none !important;

}
.widget-simple-sm {
    border: 1px solid #C1D8FA !important;

}
.statistic-box.yellow {
    background-color: #C1D8FA !important;
    background-image:none !important;

}
.widget-tabs-nav.colored .nav-link.red.active, .widget-tabs-nav.colored .nav-link.red:hover {
    background-color: #C1D8FA !important;
}
#importuserstatus_filter input{    background-color: #ffffff !important;
    border: #c1c1c1 solid !important;}
	
	.notcreateduser{  background-color: #ad0101 !important;
    color: white !important;}
        .statistic-box>div{
            background: none !important;
        }
        .side-menu .side-menu-avatar {
    padding: 14px 0 !important;
    margin: 0 0 0 !important;
}
.avatar-preview.avatar-preview-100{height: 47px !important;width: 100% !important;}
.faq-page-header-search {
    
    background: #7cb5ec !important;}

.table>thead>tr>th a{color: #000000 !important;}
.side-menu .side-menu-avatar .avatar-preview {
    margin: 0 0 0 22px !important;
}

.specialbuttoncolor{color:white !important;}

#activeusergraph table{
    
    margin: 0 auto !important;
    
    
}
.jspHorizontalBar{
	position:static !important;

}

.ui-widget-content {
       border: 1px solid #ffffff !important;
    background: #ffffff !important;
     height: 7px !important; 
    border-radius: 0px !important;
}

.ui-widget-header {
   
   
    height: 6px;
    border-radius: 0px !important;
    background: #00a8ff !important;;
}

.jconfirm-box{margin-top: 100px !important;}
.select2-container{margin-bottom: 10px !important;}

.bulkedittask th {
    color: white;
    background-color: #004b9b !important;
   
}
.bulkaddnewtask{
    
    background-color: #efc591 !important;
    background: #efc591 !important;
}

/*table cards */


.cards {
        background-color: transparent;
    }

    /*--[  This does the job of making the table rows appear as cards ]----------------*/
    .cards tbody img {
        height: 100px;
    }
    .cards tbody tr {
        float: left;
        margin: 10px;
        border: 1px solid #aaa;
        box-shadow: 3px 3px 6px rgba(0,0,0,0.25);
        background-color: white;
        height: 622px ;
    }
    .bulkproductedits tbody tr {
        float: left;
        margin: 10px;
        border: 1px solid #aaa;
        box-shadow: 3px 3px 6px rgba(0,0,0,0.25);
        background-color: white;
        height: 460px ;
    }
    .cards tbody td {
        display: block;
        width: 279px;
        overflow: hidden;
        text-align: left;
    }

    /*---[ The remaining is just more dressing to fit my preferances ]-----------------*/
    .cards {
        background-color: #fff;
    }
    .cards tbody label {
        display: none;
        margin-right: 5px;
        width: 50px;
    }   
    .cards .glyphicon {
        font-size: 20px;
    }

    .cards .glyphicon {
        font-size: 75px;
    }

    .cards tbody label {
        display: inline;
        position: relative;
        font-size: 85%;
        font-weight: normal;
        top: -5px;
        left: -3px;
        float: left;
        color: #808080;
    }
    .cards tbody td:nth-child(1) {
        text-align: center;
    }
    
    .cards thead{
        
        display: none;
    }
    .addscrol{
        
            height: 118px !important;
            overflow: auto !important;
        
    }
    .addscrolfield{
        
            height: 40px !important;
            overflow: auto !important;
            margin-top: -14px;
        
    }
    
    .addscrolproducts{
        
            height: 70px !important;
            overflow: auto !important;
        
    }
    
    .topmarrginebulkedit{
        
        
        margin-top: 14px !important;
    }
    
    table.dataTable.no-footer{
        
                border-bottom: 1px solid #eceeef !important;;
    }
    
    .removetask{
        
        background-color: #f7a5a5 !important;
        text-decoration: line-through;
        
    }
      .addnewtask{
        
        background-color: #a0e9af !important;
        
    }
    .addnewtaskintorole td{ background-color: #a0e9af !important;}
    table.dataTable thead th, table.dataTable thead td {
    
     border-bottom: 1px solid #eceeef !important;
}

  .specialstyle{  height: 50px;
    background-color: #ed942a;
    color: white;
    
  }
table.dataTable tbody td {
    vertical-align: middle !important;
}
.assignedtasks{margin-bottom: 0px !important;}
.removetaskrole td{
        background-color: #f7a5a5 !important;
        text-decoration: line-through;
}

.emptyfielderror{
    
     background-color: #dc4141 !important;
    
}

/*.jspContainer{
    
    width:95% !important;
}*/

#loadingalert {
      z-index: 999;
}

.edituseremail{
    
    margin-left: 30%;
}



.toggle-handle {
    background-color: #c8cdd1 !important;
    border-color: #bec6cc !important;
}

#orderreport_wrapper {
        overflow: auto !important;
        margin: 0 auto;
    }
    
#orderreport_wrapper .dt-buttons{
            float: right !important;
    margin-bottom: 11px !important;;
    margin-top: -35px !important;;
    }
    
#selfsignusers_wrapper {
        overflow: auto !important;
        margin: 0 auto;
    }
#example_wrapper .dt-buttons{
            float: right !important;
    margin-bottom: 11px !important;;
    margin-top: -35px !important;;
    }
    #example_wrapper {
        overflow: auto !important;
        margin: 0 auto;
    }
    .menumargine{
        
        margin-left: 27px;
    }
    .theme-picton-blue .side-menu .side-menu-list>li.opened{
        
        background: #fff !important ;
    }
    .rule-operator-container div button{width:107px !important;}
    .rule-value-container input[type="number"]{    margin-left: 13px !important;}
    .instock{font-weight: 700 !important;
    color: #7ad03a !important;
    background: 0 0 !important;;
    line-height: 1 !important;;}
    
    #manageproduct_wrapper .dt-buttons{
            float: right !important;
    margin-bottom: 11px !important;;
    margin-top: -35px !important;;
    }
    
    .outofstock {
    font-weight: 700 !important;
    color: #a44 !important;
    background: 0 0 !important;
    line-height: 1 !important;
}
#importuserstatus_filter{    margin-bottom: 30px !important;}

.filteractivecolor{color:#00a8ff !important;}
.rule-filter-container div{
    width:230px !important;
}
.group-conditions label{    
    background-color: gray !important;
    border-color: gray !important;
    cursor: default !important;
}
#example_filter{
    
    text-align: left !important;
    float: none !important;
}

#example_paginate{
    
   margin-top: -47px !important;
    float: right;
}
#example_length{
    
    margin-top: 17px !important;
    margin-bottom: 0px !important;
   
}

#orderreport_filter{
    
    text-align: left !important;
    float: none !important;
}

#orderreport_paginate{
    
   margin-top: -47px !important;
    float: right;
}
#orderreport_length{
    
    margin-top: 17px !important;
}

#example_wrapper .dataTables_length{
    
        margin-bottom: -39px;
    margin-top: 21px !important;
}
#example_wrapper .dataTables_filter{
    
    
    float: none !important;
}

.marginetopbottom{
    
    margin-bottom: 10px !important;
    margin-top:10px !important;
    
}
.ourcustomebutton{
    
  
    font-size: 12px!important;
    background: #2196F3!important;
    border: #2196F3!important;
    float: right!important;
    margin-bottom: 10px !important;
}
.imagepreviewbutton{
    
    margin-right: 10% !important;
    margin-top: 36px !important;
    
}

.cardsfields {
        background-color: transparent;
    }

    /*--[  This does the job of making the table rows appear as cards ]----------------*/
    .cardsfields tbody img {
        height: 100px;
    }
    .cardsfields tbody tr {
        float: left;
        margin: 10px;
        border: 1px solid #aaa;
        box-shadow: 3px 3px 6px rgba(0,0,0,0.25);
        background-color: white;
        height: 300px ;
    }
    .bulkproductedits tbody tr {
        float: left;
        margin: 10px;
        border: 1px solid #aaa;
        box-shadow: 3px 3px 6px rgba(0,0,0,0.25);
        background-color: white;
        height: 460px ;
    }
    .cardsfields tbody td {
        display: block;
        width: 279px;
        overflow: hidden;
        text-align: left;
    }

    /*---[ The remaining is just more dressing to fit my preferances ]-----------------*/
    .cardsfields {
        background-color: #fff;
    }
    .cardsfields tbody label {
        display: none;
        margin-right: 5px;
        width: 50px;
    }   
    .cardsfields .glyphicon {
        font-size: 20px;
    }

    .cardsfields .glyphicon {
        font-size: 75px;
    }

    .cardsfields tbody label {
        display: inline;
        position: relative;
        font-size: 85%;
        font-weight: normal;
        top: -5px;
        left: -3px;
        float: left;
        color: #808080;
    }
    .cardsfields tbody td:nth-child(1) {
        text-align: center;
    }
    
    .cardsfields thead{
        
        display: none;
    }
    
    
    .customewidthsweet{
    
    
    width:60% !important;
    left:40% !important;
    
}
.internalfields{
    
    
    display: none !important;
}

.site-header .help-dropdown {
	
	width: 40% !important;
    text-align: center !important;
}


#customereports_wrapper .dt-buttons{
            float: right !important;
    margin-bottom: 11px !important;;
    margin-top: -35px !important;;
    }
    #customereports_wrapper {
        overflow: auto !important;
        margin: 0 auto;
    }
    #customereports_filter{
    
    text-align: left !important;
    float: none !important;
}

#customereports_paginate{
    
   margin-top: -47px !important;
    float: right;
}
#customereports_length{
    
    margin-top: 17px !important;
    margin-bottom: 0px !important;
   
}
#customereports_wrapper .dataTables_length{
    
        margin-bottom: -39px;
    margin-top: 21px !important;
}
#customereports_wrapper .dataTables_filter{
    
    
    float: none !important;
}


.toast-fixed {
  
  
  right: 1.5rem;
  top: 1.5rem;
  z-index: 120;
  width: 102%;
  margin-top: -13px;
  cursor: pointer;
}
.toast {
  background: rgba(66, 66, 66, 0.95);
  -webkit-animation: fadeInExpand 150ms;
          animation: fadeInExpand 150ms;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
  margin-bottom: 0.5rem;
  padding: 0.1rem;
}
.toast--alert {
  background: rgba(255, 255, 153, 0.95);
}
.toast--error {
  background: rgba(222, 28, 37, 0.95);
}
.toast--success {
  background: rgba(47, 180, 86, 0.95);
}
.toast--dismiss {
  cursor: pointer;
  position: relative;
}
.toast--dismiss:before,
.toast--dismiss:after {
  background: #fff;
  content: "";
  height: 1rem;
  position: absolute;
  opacity: 0.8;
  right: 0.8rem;
  top: 0.2rem;
  width: 0.2rem;
}
.toast--dismiss:before {
  transform: rotate(45deg);
}
.toast--dismiss:after {
  transform: rotate(-45deg);
}
.toast--alert.toast--dismiss:before,
.toast--alert.toast--dismiss:after {
  background: #333;
}
.toast__text {
  color: #fff;
  line-height: 110%;
  font-size: 13px;
  margin: 0;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  text-align: left;
}
.toast--alert .toast__text {
  color: #333;
}
.toast__btn {
  background: #fff;
  border: 1px solid #424242;
  border-radius: 3px;
  color: #424242;
  display: inline-block;
  font-size: 1.4rem;
  line-height: 1;
  margin: 0.8rem 0 0.4rem 0.8rem;
  padding: 0.6rem 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
}
.toast__btn:hover {
  opacity: 0.8;
}
.egmb-10{margin-bottom: 10px;}
        .egmb-20{margin-bottom: 20px;}
        .radio input{visibility: unset;}
        .egradio-inline{display: inline;}
        .egcolor{color:red;}
        .row{margin-left: 0px;}

         .previewDivselectedImage{
            border: solid lightgray 1px;
            height: auto;
            width: auto;
        }
         .eg-optional{
        
        background: linear-gradient(to right, #1f9bd9, #99d2f2 200%);
        border: 2px solid #53b2e4;
/*        cursor: not-allowed;*/
    }
    .sweet-alert p{color:#333 !important;}
    .eg-requried{
        
        background: linear-gradient(to right, #b2b2b2, #c3c2c2 200%);
        border: 2px solid #b6b6b6;
/*        cursor: not-allowed;*/
    }
    .eg-optional-type-2{
        
        background: linear-gradient(to right, #ff9800, #ef8d22 200%);
        border: 2px solid #ff9800;
/*        cursor: move;*/
    }
    .eg-boxed{
        
        height: 210px;
        margin-bottom: 20px;
        padding: 20px;
        color:#fff;
        
        
        padding: 20px;
        border-radius: 50px 20px;
        box-shadow: 0 8px 8px -4px #ccc;
    }

    .eg-editlink{
        
        
        text-decoration: underline !important;
        
    }
    .eg-editlink a{color:#fff !important;}

    .eg-boxed-2{


        height: 130px;
        margin-bottom: 20px;
        padding: 20px;
        color: #333;
        padding: 20px;
        border-radius: 50px 20px;
        box-shadow: 0 8px 8px -4px #ccc;
    }

    .eg-boxed-3{
        
        height: 117px;
        margin-bottom: 20px;
        padding: 20px;
        color:#fff;
        
        
        padding: 20px;
        border-radius: 50px 20px;
        box-shadow: 0 8px 8px -4px #ccc;
    }


    .eg-optional-2{

        background: linear-gradient(to right, #f5f5f5, #f5f5f5 200%);
        border: 2px solid #f5f5f5;

    }

    .eg-editlink-2{
        
        
        text-decoration: underline !important;
        
    }
    .eg-editlink-2 a{color:rgb(0, 0, 0) !important;}
    .hidecursor{cursor: auto !important;}
   
    .mylabel{

        display: contents !important;
    }