
*, *:before, *:after {
  box-sizing: border-box;
}

html {
	overflow-y: scroll; 
}

body {
  background:#c1bdba;
  font-family: 'Titillium Web', sans-serif;
}

a {
  text-decoration:none;
  color:#1ab188;
  transition:.5s ease;
  &:hover {
    color:lighten(#1ab188,5%);
  }
}

.form {
  background:#13232f !important;
  padding: 40px !important;;
  max-width:800px !important;;
  margin:40px auto !important;;
  border-radius:4px !important;;
  box-shadow:0 4px 10px 4px rgba(#13232f,.3) !important;;
}

.tab-group {
  list-style:none !important;;
  padding:0 !important;;
  margin:0 0 40px 0 !important;;
  &:after {
    content: "" !important;;
    display: table !important;;
    clear: both !important;;
  }
  li a {
    display:block !important;;
    text-decoration:none !important;;
    padding:15px !important;;
    background:rgba(#a0b3b0,.25) !important;;
    color:#a0b3b0 !important;;
    font-size:20px !important;;
    float:left !important;;
    width:50% !important;;
    text-align:center !important;;
    cursor:pointer !important;;
    transition:.5s ease !important;;
    &:hover {
      background:lighten(#1ab188,5%) !important;;
      color:#ffffff !important;;
    }
  }
  .active a {
    background:#1ab188 !important;;
    color:#ffffff !important;;
  }
}

.tab-content > div:last-child {
  display:none !important;;
}


h1 {
  text-align:center !important;;
  color:#ffffff !important;;
  font-weight:300 !important;;
  margin:0 0 40px !important;;
}

label {
  position:absolute !important;
  transform:translateY(6px) !important;
  left:13px !important;;
  color: rgba(255, 255, 255, 0.5) !important;
  transition:all 0.25s ease !important;
  -webkit-backface-visibility: hidden !important;
  pointer-events: none !important;
  font-size:22px !important;;
  .req {
  	margin:2px !important;;
  	color:#1ab188 !important;;
  }
}

label.active {
  transform:translateY(50px) !important;;
  left:2px !important;;
  font-size:14px !important;;
  .req {
    opacity:0 !important;;
  }
}

label.highlight {
	color:#ffffff !important;;
}

input, textarea {
  font-size:22px !important;;
  display:block !important;;
  width:100% !important;;
  height:100% !important;;
  padding:5px 10px !important;;
  background:none !important;;
  background-image:none !important;;
  border:1px solid #a0b3b0 !important;;
  color:#ffffff !important;;
  border-radius:0 !important;;
  transition:border-color .25s ease, box-shadow .25s ease !important;;
  &:focus {
		outline:0 !important;
		border-color:#1ab188 !important;;
  }
}

textarea {
  border:2px solid #a0b3b0 !important;;
  resize: vertical !important;;
}

.field-wrap {
  position:relative !important;
  margin-bottom:40px !important;
}

.top-row {
  &:after {
    content: "" !important;
    display: table !important;
    clear: both !important;
  }

  > div {
    float:left !important;
    width:48% !important;
    margin-right:4% !important;
    &:last-child { 
      margin:0 !important;
    }
  }
}

.button {
  border:0 !important;
  outline:none !important;
  border-radius:0 !important;
  padding:15px 0 !important;
  font-size:2rem !important;
  font-weight:600 !important;
  text-transform:uppercase !important;
  letter-spacing:.1em !important;
  background:#1ab188!important;
  color:#ffffff !important;
  transition:all.5s ease !important;
  -webkit-appearance: none !important;
  &:hover, &:focus {
    background:lighten(#1ab188,5%) !important;
  }
}

.button-block {
  display:block !important;
  width:100% !important;
}

.forgot {
  margin-top:-20px !important;
  text-align:right !important;
}